---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #434343 !default;
$header-bg-color-secondary: #000000 !default;

// Text
$section-headings-color: #434343 !default;
$body-text-color: #606c71 !default;
$body-link-color: #a3bded !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 2.75rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-authors {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.65rem;
  }

  @include medium {
    font-size: 1.5rem;
  }

  @include small {
    font-size: 1.25rem;
  }
}

.project-affiliations {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 0.9rem;
  }

  @include small {
    font-size: 0.8rem;
  }
}

.page-header {
  a {
    color: #fff;
  }
}

.main-content {
  table {
    display: table;

    td {
      width: 1%;
    }
  }

}
